<h2 class="title is-2"><%= @aircraft.name %> </h2>

<p>
  <strong>Type:</strong>
  <%= @aircraft.aircraft_type %>
</p>

<p>
  <strong>Sub-type:</strong>
  <p> N/A </p>
</p>

<p>
  <strong>Started service at:</strong>
  <%= @aircraft.service_start %>
</p>

<p>
  <strong>Units build:</strong>
  <%= @aircraft.units_build %>
</p>

<p>
  <strong>Unit Cost:</strong>
  <%= @aircraft.unit_price %>$
</p>
<!--<p>0 <progress class="progress is-small" value="<%= @aircraft.unit_price %>" max="400000">400000</progress> 400000</p>-->



<p>
  <strong>country of origin:</strong>
  <%= link_to @aircraft.origin_country.name, @aircraft.origin_country %>
</p>

<p>
  <strong>Operators:</strong>
  <p> N/A </p>
</p>

