<div class="columns">
  <div class="column">
    <h2 class="title is-2">Most Produced Aircrafts</h2>
      <ol class="ml-5">
        <%  @aircrafts.each do |aircraft| %>
          <li>
            <%= link_to aircraft.name, aircraft %>
            <em>(<%= aircraft.origin_country.name %>)</em>
          </li>
        <% end %>
      </ol>
      <p class="mt-5">
        <strong><%= link_to 'List of all aircrafts', aircrafts_path %></strong></p>
  </div>

  <div class="column">
    <h2 class="title is-2">Countires with most aircraft types</h2>
      <ol class="ml-5">
        <%= render @origin_countries %>
      </ol>
      <p class="mt-5"><strong><%= link_to 'List of all Countries', origin_countries_path %></strong></p>
  </div>
</div>
